* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: "zalando sans expanded", Arial, Helvetica, sans-serif;
 background-color: #ffffff;
 color: #fff;
 display: flex;
 flex-direction: column;
 min-height: 100vh;
}


header,
footer {
 background-color: #97b3ae;
 color: white;
 text-align: center;
 padding: 2.5rem;
}

main {
 flex-grow: 1;
 max-width: 1200px;
 width: 90%;
 margin: 2rem auto;
}

#resultsContainer {
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
 gap: 1rem;
}

.card {
 background-color: #979797; 
 border-radius: 10px;
 padding: 10px;
 box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
 width: 240px;
 overflow: hidden; 
}

.card-title {
    font-size: 1rem;
    margin: .5rem 0;
}

.card img {
 width: 100%;
 height: 250px; 
 object-fit: cover; 
 border-radius: 8px;
 display: block;
}