*,
*::before,
*::after {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

:root {
 --color-1: #1c1618;
 --color-2: #4c3f3b;
 --color-3: #39383b;
 --color-4: rgba(134, 123, 112, 0.7);
 --color-5: #b68877;
 --color-6: #ee8572;
 --color-7: #cd796a;
 --color-8: rgba(18, 31, 41, 1);
 --color-9: rgba(72, 69, 64, 1);
 --color-10: rgba(126, 125, 130, 0.7);
 --color-11: rgba(76, 65, 80, 1);
 --color-12: rgba(36, 84, 92, 1);
 --color-13: rgba(96, 85, 100, 0.7);
 --bg-color: #fff;
 --primary-btn-color: #b68877;
}

body {
 font-family: "zalando sans expanded", Arial, Helvetica, sans-serif;
 background-color: var(--bg-color);
 color: #333;
 display: flex;
 flex-direction: column;
 min-height: 100vh;
}

.page-container {
 width: 90%;
 max-width: 1200px;
 margin: 0 auto;
}

.header {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 background-color: var(--bg-color);
 color: #000;
 padding: 20px 9%;
 box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
 z-index: 100;
}

.header-content {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.nav {
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 2rem;
}

.nav ul {
 list-style: none;
 display: flex;
 gap: 1.5rem;
 margin: 0;
}

.nav a {
 color: #000;
 text-decoration: none;
 font-weight: 400;
 transition: color 0.3s ease;
}

.nav a:hover {
 color: var(--color-11);
}

.icon-container {
 display: flex;
 align-items: center;
 gap: 1rem;
 font-size: 1.3rem;
}

.icon-container i {
 font-size: 1.5rem;
 color: var(--color-7);
 cursor: pointer;
 transition: color 0.3s ease, transform 0.2s ease;
 position: relative;
}

.icon-container i:hover {
 color: var(--color-11);
 transform: scale(1.1);
}

.icon-container .fa-cart-shopping::after {
 content: "2"; /* example count */
 position: absolute;
 top: -11px;
 right: -14px;
 background: var(--color-12);
 color: var(--bg-color);
 font-size: 0.8rem;
 font-weight: 200;
 border-radius: 50%;
 padding: 4px 8px;
}

.icon-container .fa-heart::after {
 content: "5";
 position: absolute;
 top: -11px;
 right: -14px;
 background: var(--color-12);
 color: var(--bg-color);
 font-size: 0.8rem;
 font-weight: 200;
 border-radius: 50%;
 padding: 4px 8px;
}

.logo img {
 width: 40%;
 cursor: pointer;
}

main {
 flex-grow: 1;
 max-width: 1200px;
 width: 90%;
 margin: 0 auto;
}

.hero {
 background: url("/img/nathan-dumlao-pLoMDKtl-JY-unsplash.jpg") center/cover
  no-repeat;
 color: white;
 text-align: center;
 padding: 80px 20px;
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 9rem 0 3rem 0;
}

.hero-text {
 background: rgba(0, 0, 0, 0.5);
 padding: 40px;
 border-radius: 12px;
}

.hero-text h2 {
 font-size: 2.5rem;
 margin-bottom: 1rem;
}

.hero-text p {
 font-size: 1.1rem;
 margin-bottom: 1.5rem;
}

.hero-btn {
 background-color: var(--color-7);
 color: #004b50;
 text-decoration: none;
 padding: 12px 16px;
 border-radius: 4px;
 font-weight: 600;
 transition: all 0.3s ease;
}

.hero-btn:hover {
 background-color: var(--color-6);
}

.product-collection h1 {
 font-size: 32px;
 text-align: center;
 margin-bottom: 2rem;
 font-weight: 600;
}

#container {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
 column-gap: 1rem;
 row-gap: 3rem;
}

.card {
 background-color: #fff;
 border-radius: 10px;
 padding: 24px;
 box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
 width: 250px;
 overflow: hidden;
}

.card,
a {
 text-decoration: none;
}

.card-title {
 font-size: 1rem;
 margin: 0.5rem 0;
 color: #000;
}

.card-price {
 color: #000;
 font-size: 0.8rem;
}

.card img {
 width: 100%;
 height: 250px;
 object-fit: cover;
 border-radius: 8px;
 display: block;
}

.cart-btn {
 font-family: "zalando sans expanded", Arial, Helvetica, sans-serif;
 background-color: var(--color-11);
 color: white;
 border: none;
 padding: 0.8rem 1.025rem;
 border-radius: 4px;
 cursor: pointer;
 margin-top: 2rem;
 transition: background-color 0.3s ease;
}

.back-button {
 font-family: "zalando sans expanded", Arial, Helvetica, sans-serif;
 background-color: #eee;
 color: black;
 border: solid 0.2px;
 padding: 0.8rem 1.025rem;
 border-radius: 4px;
 cursor: pointer;
 margin-top: 2rem;
 transition: background-color 0.3s ease;   
}

.cart-btn:hover {
 background-color: var(--color-13);
 color: #000;
}

.back-button:hover {
 background-color: gray;
}

/*************PRODUCT DETAILS************/

.product-container {
 margin-top: 10rem;
 background-color: #fff;
 border-radius: 10px;
 box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
 margin-inline: auto;
}

.product-details {
 display: flex;
 gap: 2rem;
 align-items: flex-start;
 padding: 1rem;
}

.product-image {
 width: 50%;
 object-fit: cover;
}

.product-text {
 display: flex;
 flex-direction: column;
 align-self: center;
 gap: 1rem;
 flex: 1;
}

.size-opt {
 font-weight: 600;
}

.product-sizes-container {
 display: flex;
 gap: 0.3rem;
}

.size-button {
 padding: 12px 20px;
 border: none;
 background: var(--color-12);
 color: var(--bg-color);
 font-family: "zalando sans expanded", Arial, Helvetica, sans-serif;
 cursor: pointer;
 transition: background 0.2s;
 margin-bottom: 20px;
}

.size-button:hover {
 background: #eee;
 color: #000;
}

.size-button.selected {
 background: #fff;
 color: #000;
 border: solid 1px;
}

.product-buttons {
 display: flex;
 gap: 1rem;
 margin-top: auto;
}

/*FOOTER CONTENT*/

.footer {
 background-color: var(--color-13);
 color: white;
 padding: 20px 0;
 text-align: center;
 margin-top: 50px;
}

.footer-content {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 10px;
}

.socials a {
 color: var(--color-12);
 margin: 0 10px;
 text-decoration: none;
}

.socials a:hover {
 color: white;
}
